*{
    margin: 0;
    padding: 0;
}
body{
    background-color: yellow;
}

.copyright a{
    color: aqua;
    text-decoration: none;
}

footer{

    background-color: gray;
    transform: translateY(56vh);
}